# 파이썬 시작하기

In [2]:
print("hello world")

hello world

In [3]:
print("mary's cosmetics")

mary's cosmetics

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [7]:
print("c:\window")

c:\window

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄 바꿈, \t는 탭

안녕하세요.
만나서		반갑습니다.

In [10]:
print ("오늘은", "일요일")

오늘은 일요일

In [14]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [15]:
print('naver', 'kakao', 'sk', 'samsung', sep="/")

naver/kakao/sk/samsung

In [20]:
print("first", end=""); print("second")

firstsecond

In [23]:
5/3

1.6666666666666667

# 변수 사용하기

In [24]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [26]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [32]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [33]:
2 + 2 * 3

8

In [35]:
a = 128
print (type(a))

<class 'int'>

In [36]:
a = "132"
print (type(a))

<class 'str'>

In [53]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [42]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [44]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [47]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [50]:
48584*36

1749024

In [52]:
48584*36

1749024

# 파이썬 문자열

In [54]:
a = 'python'
print(a[0], a[2])

p t

In [55]:
a = "24가 2210"
print(a[-4:])

2210

In [60]:
a = "홀짝홀짝홀짝"
print(a[::2])

홀홀홀

In [63]:
a = "PYTHON"
print(a[::-1])

NOHTYP

In [69]:
a = "010-1111-2222"
b=a.replace("-", " ")
print(b)

010 1111 2222

In [71]:
a = "010-1111-2222"
b=a.replace("-", "")
print(b)

01011112222

In [72]:
a = "http://sharebook.kr"
print(a[-2:])

kr

In [73]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [75]:
string = 'abcd'
b=string.replace('b', 'B')
print(b)

aBcd

In [76]:
a = "3"
b = "4"
print(a + b)

34

In [77]:
print("Hi" * 3)

HiHiHi

In [79]:
a='-'*80
print(a)

--------------------------------------------------------------------------------

In [83]:
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [84]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [85]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [86]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [88]:
상장주식수 = "5,969,782,550"
상장주식수.replace(",", "")

'5969782550'

In [91]:
a = "2020/03(E) (IFRS연결)"
print(a[0:7])

2020/03

In [97]:
data = "   삼성전자    "
a=data.strip()
print(a)

삼성전자

In [100]:
a = "btc_krw"
b=a.upper()
print(b)

BTC_KRW

In [103]:
a = "BTC_KRW"
b=a.lower()
print(b)

btc_krw

In [105]:
a = "hello"
a = a.capitalize()
print(a)

Hello

In [112]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [119]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [120]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [123]:
a = "hello world"
a.split()

['hello', 'world']

In [128]:
a = "btc_krw"
a.split("_")

['btc', 'krw']

In [129]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [131]:
data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트

In [136]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("베트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [138]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [140]:
movie_rank=['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [146]:
movie_rank=['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[-1]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [147]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [149]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [150]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [151]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [153]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [154]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [155]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [156]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [158]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [160]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [163]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [164]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [165]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [167]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [168]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

In [169]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [172]:
movie_rank = ("닥터스트레인지", "스플릿", "럭키")

In [175]:
my_tuple = (1, )
type (my_tuple)

tuple

In [177]:
t = (1, 2, 3)
t[0] = 'a'
# 그 값이 달라서 숫자랑 문

TypeError: 'tuple' object does not support item assignment

In [178]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [181]:
t = ('a', 'b', 'c')
t[0]='A'

TypeError: 'tuple' object does not support item assignment

In [185]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data=list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [187]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [188]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [189]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 파이썬 딕셔너리

In [12]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
b = scores[0:8]
print(b)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [14]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
b = scores[-8:]
print(b)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [15]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
b = scores[1:-1]
print(b)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [17]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [19]:
temp={}

In [20]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [21]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [31]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [26]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [32]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [33]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [37]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] = 2200
print(icecream)

{'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '누가바': 2200}

In [38]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 성질이 달라서

KeyError: '누가바'

In [41]:
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [44]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0], "원")

300 원

In [45]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [46]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [47]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [48]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
val = list(icecream.values())
print(val)

[1200, 1200, 1800, 1500, 1000]

In [49]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
val = list(icecream.values())
print(sum(val))

6700

In [52]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [53]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [55]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(result)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬 분기문

In [56]:
print(3 == 5)

False

In [57]:
print(3 < 5)

True

In [58]:
x = 4
print(1 < x < 5)

True

In [59]:
print ((3 == 3) and (4 != 3))

True

In [62]:
print(3 >= 4)
# 잘못 표기

False

In [64]:
if 4 < 3:
    print("Hello World")
# 만족하기 않아서 출력 x

In [65]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [66]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [67]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [68]:
user = input("입력:")
print(user * 2)

입력: 안녕하세요

안녕하세요안녕하세요

In [71]:
num = input("num:")
print(10+int(num))

num: 50

60

In [72]:
num = input("")
if int(num) % 2 == 0:
    print("짝수")
else:
    print("홀수")

 5

홀수

In [76]:
num = input("num:")
if int(num) > 255:
    print("한계치를 초과하였습니다.", 255)
else:
    print(20+int(num))

num: 260

한계치를 초과하였습니다. 255

In [77]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  260

255

In [83]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0: 
    print("값이 너무 작습니다.", 0)

입력값:  16

값이 너무 작습니다. 0

In [84]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  13:

정각이 아닙니다.

In [90]:
fruit = ["사과", "포도", "홍시"]
name = input("내가 좋아하는 과일은?")
if name in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

내가 좋아하는 과일은? 키위

오답입니다.

In [92]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
name = input("위험 종목 검색: ")
if name in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

위험 종목 검색:  삼성

투자 경고 종목이 아닙니다.

In [94]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은? ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은?  ㅇㅇ

오답입니다.

In [95]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? ㅇㅇ

오답입니다.

In [97]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 j

J

In [99]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("A")
elif 61 <= score <= 80:
    print("B")
elif 41 <= score <= 60:
    print("C")
elif 21 <= score <= 40:
    print("D")
else:
    print("E")

score:  55

C

In [104]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")
# 이건 어려우니 복붙

입력:  171

ValueError: not enough values to unpack (expected 2, got 1)

In [105]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  55
input number2:  56
input number3:  44

56

In [106]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"{com} 사용자입니다.")

휴대전화 번호 입력:  010

알수없음 사용자입니다.

In [108]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["013", "014", "015"]:
    print("도봉구")
else :
    print("노원구")

우편번호:  210

노원구

In [112]:
j = input("주민등록번호: ")
j = j.split("-")[1]
if j[0] == "1" or j[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  015569-245865

여자

In [113]:
j = input("주민등록번호: ")
뒷자리 = j.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  015569-245698

서울이 아닙니다.

In [114]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")
# ???????????

주민등록번호:  222222-2222222

유효하지 않은 주민등록번호입니다.

In [1]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 파이썬 반복문

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [4]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [5]:
b = "A"
print(b)
b = "B"
print(b)
b = "C"
print(b)

A
B
C

In [6]:
print("A")
print("B")
print("C")

A
B
C

In [7]:
b = "A"
print("출력: ", b)
b = "B"
print("출력: ", b)
b = "C"
print("출력: ", b)

출력:  A
출력:  B
출력:  C

In [8]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [9]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [13]:
b = "A"
ㅁ=b.lower()
print("출력: ", ㅁ)
b = "B"
ㅁ=b.lower()
print("출력: ", ㅁ)
b = "C"
ㅁ=b.lower()
print("출력: ", ㅁ)

출력:  a
출력:  b
출력:  c

In [14]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [15]:
for num in ["10", "20", "30"]:
    print(num)

10
20
30

In [16]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [21]:
for num in ["10", "20", "30"]:
    print(num)
    print("-------")

10
-------
20
-------
30
-------

In [22]:
print("++++")
for num in ["10", "20", "30"]:
    print(num)

++++
10
20
30

In [23]:
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [28]:
for a in [1, 2, 3, 4]:
    print("------")

------
------
------
------

In [30]:
for num in [100, 200, 300]:
    print("부가세 포함: ", num+10)

부가세 포함:  110
부가세 포함:  210
부가세 포함:  310

In [31]:
리스트 = ["김밥", "라면", "튀김"]
for name in 리스트:
    print("오늘의 메뉴: ", name)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [36]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for name in 리스트:
    print(len(name))

6
4
4

In [37]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name, len(name))

dog 3
cat 3
parrot 6

In [38]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name[0])

d
c
p

In [51]:
리스트 = [1, 2, 3]
for num in 리스트:
    print("3 x", num,"=", 3*num)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [54]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]
for s in 리스트:
    print(s)

나
다
라

In [58]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[0], 리스트[-2]
for s in 리스트:
    print(s)

가
다

In [59]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[::-1]
for s in 리스트:
    print(s)

라
다
나
가

In [60]:
리스트 = [3, -20, -3, 44]
for s in 리스트:
    if s < 0:
        print(s)

-20
-3

In [65]:
리스트 = [3, 100, 23, 44]
for num in 리스트:
    if num % 3 == 0:
        print(num)

3

In [71]:
리스트 = [13, 21, 12, 14, 30, 18]
for num in 리스트:
    if (num < 20) and (num % 3 == 0):
        print(num)

12
18

In [74]:
리스트 = ["I", "study", "python", "language", "!"]
for s in 리스트:
    if len(s) >= 3:
        print(s)

study
python
language

In [75]:
리스트 = ["A", "b", "c", "D"]
for s in 리스트:
    if s.isupper():
        print(s)

A
D

In [76]:
리스트 = ["A", "b", "c", "D"]
for s in 리스트:
    if s.isupper() == False:
        print(s)

b
c

In [80]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name[0].upper() + name[1:])

Dog
Cat
Parrot

In [82]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for name in 리스트:
    a=name.split(".")
    print(a[0])

hello
ex01
intro

In [87]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in 리스트:
    a=name.split(".")
    if a[1] == "h":
        print(name)

intra.h
define.h

In [90]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in 리스트:
    a=name.split(".")
    if (a[1] == "h") or (a[1] == "c"):
        print(name)

intra.h
intra.c
define.h

In [92]:
for num in range(100):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [95]:
for x in range(2002, 2051, 4) :
    print (x)

# range의 세번 째 파라미터는 증감폭을 결정합니다.

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [97]:
for x in range(3, 31, 3) :
    print (x)

3
6
9
12
15
18
21
24
27
30

In [102]:
for num in range(100):
    print(99 - num)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [103]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [104]:
num = 3
for i in range(1, 10, 2) :
    print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [109]:
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [113]:
num = 0
for i in range(1, 11, 2):
    num += i
print(num)

25

In [114]:
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [115]:
p = [32100, 32150, 32000, 32500]
for num in p:
    print(num)

32100
32150
32000
32500

In [117]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [119]:
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [122]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [125]:
print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

가 나
나 다
다 라

In [126]:
my_list = ["가", "나", "다", "라", "마"]
print(my_list[0], my_list[1], my_list[2])
print(my_list[1], my_list[2], my_list[3])
print(my_list[2], my_list[3] ,my_list[4])

가 나 다
나 다 라
다 라 마

In [127]:
print(my_list[3], my_list[2])
print(my_list[2], my_list[1])
print(my_list[1], my_list[0])

라 다
다 나
나 가

In [128]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [130]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

???????????

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
Object `?????????` not found.

In [141]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]