# 파이썬 시작하기

In [2]:
print("hello world")

hello world

In [3]:
print("mary's cosmetics")

mary's cosmetics

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [7]:
print("c:\window")

c:\window

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄 바꿈, \t는 탭

안녕하세요.
만나서		반갑습니다.

In [10]:
print ("오늘은", "일요일")

오늘은 일요일

In [14]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [15]:
print('naver', 'kakao', 'sk', 'samsung', sep="/")

naver/kakao/sk/samsung

In [20]:
print("first", end=""); print("second")

firstsecond

In [23]:
5/3

1.6666666666666667

# 변수 사용하기

In [24]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [26]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [32]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [33]:
2 + 2 * 3

8

In [35]:
a = 128
print (type(a))

<class 'int'>

In [36]:
a = "132"
print (type(a))

<class 'str'>

In [53]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [42]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [44]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [47]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [50]:
48584*36

1749024

In [52]:
48584*36

1749024

# 파이썬 문자열

In [54]:
a = 'python'
print(a[0], a[2])

p t

In [55]:
a = "24가 2210"
print(a[-4:])

2210

In [60]:
a = "홀짝홀짝홀짝"
print(a[::2])

홀홀홀

In [63]:
a = "PYTHON"
print(a[::-1])

NOHTYP

In [69]:
a = "010-1111-2222"
b=a.replace("-", " ")
print(b)

010 1111 2222

In [71]:
a = "010-1111-2222"
b=a.replace("-", "")
print(b)

01011112222

In [72]:
a = "http://sharebook.kr"
print(a[-2:])

kr

In [73]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [75]:
string = 'abcd'
b=string.replace('b', 'B')
print(b)

aBcd

In [76]:
a = "3"
b = "4"
print(a + b)

34

In [77]:
print("Hi" * 3)

HiHiHi

In [79]:
a='-'*80
print(a)

--------------------------------------------------------------------------------

In [83]:
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [84]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [85]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [86]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [88]:
상장주식수 = "5,969,782,550"
상장주식수.replace(",", "")

'5969782550'

In [91]:
a = "2020/03(E) (IFRS연결)"
print(a[0:7])

2020/03

In [97]:
data = "   삼성전자    "
a=data.strip()
print(a)

삼성전자

In [100]:
a = "btc_krw"
b=a.upper()
print(b)

BTC_KRW

In [103]:
a = "BTC_KRW"
b=a.lower()
print(b)

btc_krw

In [105]:
a = "hello"
a = a.capitalize()
print(a)

Hello

In [112]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [119]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [120]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [123]:
a = "hello world"
a.split()

['hello', 'world']

In [128]:
a = "btc_krw"
a.split("_")

['btc', 'krw']

In [129]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [131]:
data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트

In [136]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("베트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [138]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [140]:
movie_rank=['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [146]:
movie_rank=['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[-1]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [147]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [149]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [150]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [151]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [153]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [154]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [155]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [156]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [158]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [160]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [163]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [164]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [165]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [167]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [168]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

In [169]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [172]:
movie_rank = ("닥터스트레인지", "스플릿", "럭키")

In [175]:
my_tuple = (1, )
type (my_tuple)

tuple

In [177]:
t = (1, 2, 3)
t[0] = 'a'
# 그 값이 달라서 숫자랑 문

TypeError: 'tuple' object does not support item assignment

In [178]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [181]:
t = ('a', 'b', 'c')
t[0]='A'

TypeError: 'tuple' object does not support item assignment

In [185]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data=list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [187]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [188]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [189]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)