# 파이썬 시작하기

In [2]:
print("hello world")

hello world

In [3]:
print("mary's cosmetics")

mary's cosmetics

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [7]:
print("c:\window")

c:\window

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄 바꿈, \t는 탭

안녕하세요.
만나서		반갑습니다.

In [10]:
print ("오늘은", "일요일")

오늘은 일요일

In [14]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [15]:
print('naver', 'kakao', 'sk', 'samsung', sep="/")

naver/kakao/sk/samsung

In [20]:
print("first", end=""); print("second")

firstsecond

In [23]:
5/3

1.6666666666666667

# 변수 사용하기

In [24]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [26]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [32]:
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [33]:
2 + 2 * 3

8

In [35]:
a = 128
print (type(a))

<class 'int'>

In [36]:
a = "132"
print (type(a))

<class 'str'>

In [53]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [42]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [44]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [47]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [50]:
48584*36

1749024

In [52]:
48584*36

1749024

# 파이썬 문자열

In [54]:
a = 'python'
print(a[0], a[2])

p t

In [55]:
a = "24가 2210"
print(a[-4:])

2210

In [60]:
a = "홀짝홀짝홀짝"
print(a[::2])

홀홀홀

In [63]:
a = "PYTHON"
print(a[::-1])

NOHTYP

In [69]:
a = "010-1111-2222"
b=a.replace("-", " ")
print(b)

010 1111 2222

In [71]:
a = "010-1111-2222"
b=a.replace("-", "")
print(b)

01011112222

In [72]:
a = "http://sharebook.kr"
print(a[-2:])

kr

In [73]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [75]:
string = 'abcd'
b=string.replace('b', 'B')
print(b)

aBcd

In [76]:
a = "3"
b = "4"
print(a + b)

34

In [77]:
print("Hi" * 3)

HiHiHi

In [79]:
a='-'*80
print(a)

--------------------------------------------------------------------------------

In [83]:
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [84]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [85]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [86]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [88]:
상장주식수 = "5,969,782,550"
상장주식수.replace(",", "")

'5969782550'

In [91]:
a = "2020/03(E) (IFRS연결)"
print(a[0:7])

2020/03

In [97]:
data = "   삼성전자    "
a=data.strip()
print(a)

삼성전자

In [100]:
a = "btc_krw"
b=a.upper()
print(b)

BTC_KRW

In [103]:
a = "BTC_KRW"
b=a.lower()
print(b)

btc_krw

In [105]:
a = "hello"
a = a.capitalize()
print(a)

Hello

In [112]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [119]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [120]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [123]:
a = "hello world"
a.split()

['hello', 'world']

In [128]:
a = "btc_krw"
a.split("_")

['btc', 'krw']

In [129]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [131]:
data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트

In [136]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("베트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [138]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [140]:
movie_rank=['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [146]:
movie_rank=['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[-1]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [147]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [149]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [150]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [151]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [153]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [154]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [155]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [156]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [158]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [160]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [163]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [164]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [165]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [167]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [168]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

In [169]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [172]:
movie_rank = ("닥터스트레인지", "스플릿", "럭키")

In [175]:
my_tuple = (1, )
type (my_tuple)

tuple

In [177]:
t = (1, 2, 3)
t[0] = 'a'
# 그 값이 달라서 숫자랑 문

TypeError: 'tuple' object does not support item assignment

In [178]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [181]:
t = ('a', 'b', 'c')
t[0]='A'

TypeError: 'tuple' object does not support item assignment

In [185]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data=list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [187]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [188]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [189]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 파이썬 딕셔너리

In [12]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
b = scores[0:8]
print(b)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [14]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
b = scores[-8:]
print(b)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [15]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
b = scores[1:-1]
print(b)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [17]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [19]:
temp={}

In [20]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [21]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [31]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [26]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [32]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [33]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [37]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] = 2200
print(icecream)

{'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '누가바': 2200}

In [38]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 성질이 달라서

KeyError: '누가바'

In [41]:
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [44]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0], "원")

300 원

In [45]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [46]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [47]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [48]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
val = list(icecream.values())
print(val)

[1200, 1200, 1800, 1500, 1000]

In [49]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
val = list(icecream.values())
print(sum(val))

6700

In [52]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [53]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [55]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(result)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬 분기문

In [56]:
print(3 == 5)

False

In [57]:
print(3 < 5)

True

In [58]:
x = 4
print(1 < x < 5)

True

In [59]:
print ((3 == 3) and (4 != 3))

True

In [62]:
print(3 >= 4)
# 잘못 표기

False

In [64]:
if 4 < 3:
    print("Hello World")
# 만족하기 않아서 출력 x

In [65]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [66]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [67]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [68]:
user = input("입력:")
print(user * 2)

입력: 안녕하세요

안녕하세요안녕하세요

In [71]:
num = input("num:")
print(10+int(num))

num: 50

60

In [72]:
num = input("")
if int(num) % 2 == 0:
    print("짝수")
else:
    print("홀수")

 5

홀수

In [76]:
num = input("num:")
if int(num) > 255:
    print("한계치를 초과하였습니다.", 255)
else:
    print(20+int(num))

num: 260

한계치를 초과하였습니다. 255

In [77]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  260

255

In [83]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0: 
    print("값이 너무 작습니다.", 0)

입력값:  16

값이 너무 작습니다. 0

In [84]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  13:

정각이 아닙니다.

In [90]:
fruit = ["사과", "포도", "홍시"]
name = input("내가 좋아하는 과일은?")
if name in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

내가 좋아하는 과일은? 키위

오답입니다.

In [92]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
name = input("위험 종목 검색: ")
if name in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

위험 종목 검색:  삼성

투자 경고 종목이 아닙니다.

In [94]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은? ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은?  ㅇㅇ

오답입니다.

In [95]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? ㅇㅇ

오답입니다.

In [97]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 j

J

In [99]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("A")
elif 61 <= score <= 80:
    print("B")
elif 41 <= score <= 60:
    print("C")
elif 21 <= score <= 40:
    print("D")
else:
    print("E")

score:  55

C

In [104]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")
# 이건 어려우니 복붙

입력:  171

ValueError: not enough values to unpack (expected 2, got 1)

In [105]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  55
input number2:  56
input number3:  44

56

In [106]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"{com} 사용자입니다.")

휴대전화 번호 입력:  010

알수없음 사용자입니다.

In [108]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["013", "014", "015"]:
    print("도봉구")
else :
    print("노원구")

우편번호:  210

노원구

In [112]:
j = input("주민등록번호: ")
j = j.split("-")[1]
if j[0] == "1" or j[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  015569-245865

여자

In [113]:
j = input("주민등록번호: ")
뒷자리 = j.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  015569-245698

서울이 아닙니다.

In [114]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")
# ???????????

주민등록번호:  222222-2222222

유효하지 않은 주민등록번호입니다.

In [1]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 파이썬 반복문

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [4]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [5]:
b = "A"
print(b)
b = "B"
print(b)
b = "C"
print(b)

A
B
C

In [6]:
print("A")
print("B")
print("C")

A
B
C

In [7]:
b = "A"
print("출력: ", b)
b = "B"
print("출력: ", b)
b = "C"
print("출력: ", b)

출력:  A
출력:  B
출력:  C

In [8]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [9]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [13]:
b = "A"
ㅁ=b.lower()
print("출력: ", ㅁ)
b = "B"
ㅁ=b.lower()
print("출력: ", ㅁ)
b = "C"
ㅁ=b.lower()
print("출력: ", ㅁ)

출력:  a
출력:  b
출력:  c

In [14]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [15]:
for num in ["10", "20", "30"]:
    print(num)

10
20
30

In [16]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [21]:
for num in ["10", "20", "30"]:
    print(num)
    print("-------")

10
-------
20
-------
30
-------

In [22]:
print("++++")
for num in ["10", "20", "30"]:
    print(num)

++++
10
20
30

In [23]:
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [28]:
for a in [1, 2, 3, 4]:
    print("------")

------
------
------
------

In [30]:
for num in [100, 200, 300]:
    print("부가세 포함: ", num+10)

부가세 포함:  110
부가세 포함:  210
부가세 포함:  310

In [31]:
리스트 = ["김밥", "라면", "튀김"]
for name in 리스트:
    print("오늘의 메뉴: ", name)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [36]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for name in 리스트:
    print(len(name))

6
4
4

In [37]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name, len(name))

dog 3
cat 3
parrot 6

In [38]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name[0])

d
c
p

In [51]:
리스트 = [1, 2, 3]
for num in 리스트:
    print("3 x", num,"=", 3*num)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [54]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]
for s in 리스트:
    print(s)

나
다
라

In [58]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[0], 리스트[-2]
for s in 리스트:
    print(s)

가
다

In [59]:
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[::-1]
for s in 리스트:
    print(s)

라
다
나
가

In [60]:
리스트 = [3, -20, -3, 44]
for s in 리스트:
    if s < 0:
        print(s)

-20
-3

In [65]:
리스트 = [3, 100, 23, 44]
for num in 리스트:
    if num % 3 == 0:
        print(num)

3

In [71]:
리스트 = [13, 21, 12, 14, 30, 18]
for num in 리스트:
    if (num < 20) and (num % 3 == 0):
        print(num)

12
18

In [74]:
리스트 = ["I", "study", "python", "language", "!"]
for s in 리스트:
    if len(s) >= 3:
        print(s)

study
python
language

In [75]:
리스트 = ["A", "b", "c", "D"]
for s in 리스트:
    if s.isupper():
        print(s)

A
D

In [76]:
리스트 = ["A", "b", "c", "D"]
for s in 리스트:
    if s.isupper() == False:
        print(s)

b
c

In [80]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name[0].upper() + name[1:])

Dog
Cat
Parrot

In [82]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for name in 리스트:
    a=name.split(".")
    print(a[0])

hello
ex01
intro

In [87]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in 리스트:
    a=name.split(".")
    if a[1] == "h":
        print(name)

intra.h
define.h

In [90]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in 리스트:
    a=name.split(".")
    if (a[1] == "h") or (a[1] == "c"):
        print(name)

intra.h
intra.c
define.h

In [92]:
for num in range(100):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [95]:
for x in range(2002, 2051, 4) :
    print (x)

# range의 세번 째 파라미터는 증감폭을 결정합니다.

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [97]:
for x in range(3, 31, 3) :
    print (x)

3
6
9
12
15
18
21
24
27
30

In [102]:
for num in range(100):
    print(99 - num)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [103]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [104]:
num = 3
for i in range(1, 10, 2) :
    print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [109]:
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [113]:
num = 0
for i in range(1, 11, 2):
    num += i
print(num)

25

In [114]:
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [115]:
p = [32100, 32150, 32000, 32500]
for num in p:
    print(num)

32100
32150
32000
32500

In [117]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [119]:
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [122]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [125]:
print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

가 나
나 다
다 라

In [126]:
my_list = ["가", "나", "다", "라", "마"]
print(my_list[0], my_list[1], my_list[2])
print(my_list[1], my_list[2], my_list[3])
print(my_list[2], my_list[3] ,my_list[4])

가 나 다
나 다 라
다 라 마

In [127]:
print(my_list[3], my_list[2])
print(my_list[2], my_list[1])
print(my_list[1], my_list[0])

라 다
다 나
나 가

In [128]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [130]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

???????????

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
Object `?????????` not found.

In [141]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [3]:
apart = [["101", "102"], ["201호", "202호"], ["301호", "302호"]]

In [6]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

In [11]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [12]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [16]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for i in row:
        print(i, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [19]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for i in row:
        print(i, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [23]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for i in row[::-1]:
        print(i, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [26]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for i in row:
        print(i, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [30]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for i in row:
        print(i, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [31]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for i in row:
        print(i, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [36]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [38]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)
    print("-"*7)

2000.28
3050.427
2050.2870000000003
1980.2772
-------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-------
15452.163
15052.107
15552.177
14902.086000000001
-------

In [39]:
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [40]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [41]:
k = []
result = []
for line in data:
    for column in line:
        k.append(column * 1.00014)
    print(k)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [45]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [54]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if (i[3] >= 150):
        print(i[3])

190
310

In [56]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if (i[0] <= i[3]):
        print(i[3])

100
310

In [61]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility=[]
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

[40, 30, 10]

In [77]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [80]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])

# 파이썬 함수

In [81]:
def print_coin():
    print("비트코인")

In [83]:
print_coin()

비트코인

In [85]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [86]:
def print_coin():
    print("비트코인"*100)

In [87]:
print_coin()

비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인

In [88]:
def print_coins():
    for i in range(100):
        print("비트코인")

In [89]:
print_coin()

비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인

In [90]:
hello()
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [91]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [92]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [93]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [94]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [95]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [96]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [97]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [98]:
# 함수를 호출할 떄에는 하나의 파라미터를 입력해야 한다!

In [99]:
# 문자열과 숫자는 더할 수 없다.

In [110]:
def p(문자열) :
    print(문자열+ ":D")

In [111]:
p("안녕하세요")

안녕하세요:D

In [115]:
def print_upper_price(num):
    print(num*1.3)

In [116]:
print_upper_price(20000)

26000.0

In [117]:
def print_sum (a, b) :
    print (a + b)

In [119]:
print_sum(3, 4)

7

In [122]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a+b)
    print(a, "-", b, "=", a-b)
    print(a, "*", b, "=", a*b)
    print(a, "/", b, "=", a/b)

In [123]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [126]:
def print_max(a, b, c) :
    max = 0
    if a > max :
        max = a
    if b > max :
        max = b
    if c > max :
        max = c
    print(max)

In [127]:
print_max(9, 4, 10)

10

In [128]:
def print_reverse(문자열) :
    print(문자열[::-1])

In [131]:
print_reverse("babo")

obab

In [138]:
def print_score (점수):
    print(sum(점수)/len(점수))

In [139]:
print_score ([70, 40, 100])

70.0

In [158]:
def i(num) :
    for j in num :
        if j % 2 == 0 :
            print(j)

In [159]:
i([6, 4, 2, 9, 0])

6
4
2
0

In [165]:
def k(info):
    for key in info.keys():
        print(key)

In [166]:
k ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

# 파이썬 클래스

클래스 - 하나의 타입   
객체 - 클래스로 만들어진 것 요소

In [4]:
class Human:
    pass
areum = Human()

In [6]:
class Human:
    def __init__(self):
        print("응애응애")
areum = Human()

응애응애

In [12]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("조아름", 25, "여자")
print("이름:", areum.name,",", "나이:", areum.age,",", "성별:", areum.sex)

이름: 조아름 , 나이: 25 , 성별: 여자

In [14]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

areum = Human("아름", 25, "여자")
areum.who()

이름: 아름 나이: 25 성별: 여자

In [15]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def stranger(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("불명", "0", "모름")
areum.who() 

areum.stranger("아름", 25, "여자")
areum.who()

이름: 불명 나이: 0 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [21]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print("나의 죽음을 알리지 마라.")

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def stranger(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지마라

In [24]:
class Stock:
    pass

In [25]:
class Stock:
    def __init__(self, name, code):
        self.name=name
        self.code=code
    def set_name(self, name):
        self.name=name

a=Stock(None, None)
a.set_name("삼성전자")
print(a.name)

삼성전자

In [28]:
class Stock:
    def __init__(self, name, code):
        self.name=name
        self.code=code
    def set_code(self, code):
        self.code=code

a=Stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [29]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [6]:
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)     
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  

kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print("은행이름:", kim.bank)
print("계좌번호:", kim.account_number)

김민수
100
은행이름: SC은행
계좌번호: 156-79-356815

In [7]:
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)    
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  

        Account.account_count += 1


kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [8]:
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)    
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  

        Account.account_count += 1

    def get_account_num(cls):
        print(cls.account_count)

kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [9]:
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)    
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  

        Account.account_count += 1

    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance+=amount

In [11]:
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)    
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  

        Account.account_count += 1

    def get_account_num(cls):
        print(cls.account_count)


    def deposit(self, amount):
        if amount >= 1:
            self.balance+=amount


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

k=Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [12]:
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)    
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  

        Account.account_count += 1

    def get_account_num(cls):
        print(cls.account_count)


    def deposit(self, amount):
        if amount >= 1:
            self.balance+=amount


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", f"{self.balance:,}")


p = Account("파이썬", 10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  450-18-644994
잔고:  10,000

In [16]:
import random


class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2)  
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [19]:
import random


class Account:

    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

    
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6) 
        self.account_number = num1 + '-' + num2 + '-' + num3 
        Account.account_count += 1


    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:        
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x0000017A9E148110>, <__main__.Account object at 0x0000017A9E1A52D0>, <__main__.Account object at 0x0000017A9D341490>]

In [20]:
import random


class Account:

    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

    
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6) 
        self.account_number = num1 + '-' + num2 + '-' + num3 
        Account.account_count += 1


    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:        
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

for c in data:
    if c.balance >= 1000000:
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  979-56-696280
잔고:  10000000

In [25]:
import random


class Account:
   
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

       
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2)  
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.account_count += 1

    
    def get_account_num(cls):
        print(cls.account_count)  

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [26]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [27]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    pass

In [28]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


bicycle = 자전차(2, 100)
print(bicycle.가격)

100

In [30]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        #차.__init__(self, 바퀴, 가격)
        self.구동계 = 구동계


bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)

시마노

In [31]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

In [32]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100

In [33]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

    def 정보(self):
        super().정보()
        print("구동계 ", self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100
구동계  시마노

In [34]:
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()

자식호출

In [35]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

In [36]:
나 = 자식()

자식생성

# 파일 입출력과 예외처리

In [39]:
f = open("C:/Users/samsung/OneDrive/바탕 화면/매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [40]:
f = open("C:/Users/samsung/OneDrive/바탕 화면/매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [41]:
import csv

In [42]:
f = open("C:/Users/samsung/OneDrive/바탕 화면/매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [44]:
f = open("C:/Users/samsung/OneDrive/바탕 화면/매수종목1.txt", encoding="utf-8")
lines = f.readlines()   

codes = []
for line in lines:
    code = line.strip()  
    codes.append(code)

print(codes)

f.close()

['005930', '005380', '035420']

In [45]:
f = open("C:/Users/samsung/OneDrive/바탕 화면/매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()   
    k, v = line.split()
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [46]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [47]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [48]:
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나눌 시 값이 표시되지 않습니다.")

0으로 나눌 시 값이 표시되지 않습니다.

In [49]:
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [51]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("완료")

10.31
clean data
완료
0
완료
8.0
clean data
완료